{% extends './base.html' %}
{% block content %}
    <section class="page-section">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Buscar duplicados</h2>
            
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="container">
            {% include './messages.html' %}
            <div class="row">
                <div class="col-md-8">
                    <label for="method">Método</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="method" id="automatic" value="automatic">
                        <label class="form-check-label" for="automatic">
                            Automatico
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="method" id="manual" value="manual">
                        <label class="form-check-label" for="manual">
                            Manual
                        </label>
                    </div>
                </div>
                <div class="col-md-8" id="manual-frm" style="display:none;">
                    <h4>Busqueda manual</h4>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="photo">Seleccione una imagen</label><br>
                            <input type="file" name="photo" required accept=".jpg,jpeg,png">
                        </div>
                        <input type="submit" value="Buscar duplicados" class="btn btn-success">
                    </form>
                </div>
                <div class="col-md-8" id="automatic-frm" style="display:none;">
                    <h4>Busqueda automática</h4>
                    <a href="{% url 'automatic-duplicates' %}" class="btn btn-success">Buscar duplicados</a>
                </div>
            </div>
            {% if result %}
                <hr>
                <h4>Resultado</h4>
                <div class="row">
                    {% for res in result %}
                        <div class="col-md-4 col-sm-12 image">
                            <div class="card">
                                <img class="card-img-top" src="{{ res.img.file.url }}" alt="{{ res.img.title }}">
                                <div class="card-body">
                                    <div class="card-title">{{ res.img.title }}</div>
                                    <p class="card-text">Hay un {{ res.probability }}% de probabilidad de que la imagen este duplicada</p>
                                    <a href="{% url 'eliminar' image_id=res.img.id %}" class="btn btn-warning">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
    <script>
        let radio = document.getElementById('automatic');
        let manual = document.getElementById('manual');
        let automaticFrm = document.getElementById('automatic-frm');
        let manualFrm = document.getElementById('manual-frm');
        const handle = (e) => {
            let val = e.target.value;
            if(val == 'automatic') {
                automaticFrm.style.display = 'block';
                manualFrm.style.display = 'none';
            } else {
                automaticFrm.style.display = 'none';
                manualFrm.style.display = 'block';
            }
        }
        radio.addEventListener('change', handle);
        manual.addEventListener('change', handle);
    </script>
{% endblock content %}
