{% extends './base.html' %}
{% block content %}
    <section class="page-section">
        <!-- Portfolio Section Heading-->
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Inicio de sesión</h2>
                
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            {% include './messages.html' %}
            <div class="row justify-content-center">
                <div class="col-md-8 ">
                    <form action="/do_login" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Nombre de usuario</label>
                            <input type="text" name="username" class="form-control" placeholder="Tu nombre de usuario" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" class="form-control" placeholder="Tu contraseña" required>
                        </div>
                        <input type="submit" value="Iniciar sesión" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
        
{% endblock content %}
